
/* This is my own work  */
a:hover
{
  color:OrangeRed;
  text-decoration:none;
}

h2
{
  text-align:center;
}

img
{
  width:300px;
}

p
{
  text-indent:1em;
}

.Spirit
{
  color:DarkGreen;
  font-size:200%;
  font-weight:bold;
}

.Soul
{
  color:DarkGreen;
  font-size:200%;
  font-weight:bold;
}

.Body
{
  color:DarkGreen;
  font-size:200%;
  font-weight:bold;
}

#container
{
  margin-left:10px;
  margin-right:10px;
}

